// NearFutureSolar 1.3.1
// NearFutureElectrical 1.2.1
// 2021-03-01


Localization
{
	en-us
	{

		//// Near Future Solar v1.1
		//Currently solar panels are balanced based on their cell type, we have

		//Basic - looks like stock (well, Restock) and has the same power/unit area and power/unit mass as stock
		//Blanket - gold backs and rounded cells, has lower power/unit area and best power/unit mass
		//Advanced - slightly rounded cell, has higher power/unit area and moderate power/unit mass
		//Concentrator - darker with fresnel lens, highest power/unit area and moderate power/unit mass

		// STATIC
		#LOC_NFSolar_nfs-panel-static-truss-3_title = JX-STAT-2 1x1 Advanced Photovoltaic Truss   // KX-STAT-2 1x1
		#LOC_NFSolar_nfs-panel-static-truss-2_title = JX-STAT-4 1x2 Advanced Photovoltaic Truss   // KX-STAT-4 1x2
		#LOC_NFSolar_nfs-panel-static-truss-1_title = JX-STAT-8 1x4 Advanced Photovoltaic Truss   // KX-STAT-8 1x4

		// CURVED
		#LOC_NFSolar_nfs-panel-static-curved-25-1_title     = NIV-30 Curved Solar Array (2.5m)
		#LOC_NFSolar_nfs-panel-static-curved-375-1_title    = NIV-45 Curved Solar Array (3.75m)
		#LOC_NFSolar_nfs-panel-deploying-curved-25-1_title  = NIV-R10 Expanding Curved Solar Array (2.5m)   //  NIV-10-R
		#LOC_NFSolar_nfs-panel-deploying-curved-375-1_title = NIV-R75 Expanding Curved Solar Array (3.75m)  //  NIV-75-R

		// NOT TRACKING SUN
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x1-ikonos-1_title    = ON-007 1x1 Advanced Photovoltaic Panels   // K0x7-AFR
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x2-wv4-1_title       = ON-04 1x2 Advanced Photovoltaic Panels   // K4-AFR
		#LOC_NFSolar_nfs-panel-deploying-advanced-3x1-hayabusa-1_title  = ON-10 3x1 Advanced Photovoltaic Panels   // K10-AFR

		// ADVANCED
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x2-mro-1_title       = OX-02 1x2 Advanced Photovoltaic Panels   // K2-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-3x1-wv3-1_title       = OX-03 3x1 Advanced Photovoltaic Panels  // K3-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x1-messenger-1_title = OX-03.75 1x1 Advanced Photovoltaic Panels // K3x75-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-3x1-tdrss-1_title     = OX-04 3x1 Advanced Photovoltaic Panels   // K4-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-1_title     = OX-05 1x3 Advanced Photovoltaic Panels   // K5-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-1_title    = OX-07 1x4 Advanced Photovoltaic Panels   // K7-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x5-dawn-1_title      = OX-14 1x5 Advanced Photovoltaic Panels   // K14-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x5-goes-1_title      = OX-22 1x5 Advanced Photovoltaic Panels   // K22-A
		#LOC_NFSolar_nfs-panel-deploying-advanced-2x20-hub-1_title      = OX-55 'Megalador' Advanced Solar Array   // K55-A

	// CONCENTRATOR
		#LOC_NFSolar_nfs-panel-deploying-concentrator-1x4-juno-1_title    = OX-K12 1x4 Concentrating Photovoltaic Panels    // K12-K
		#LOC_NFSolar_nfs-panel-deploying-concentrator-1x3x1-juice-1_title = OX-K20 1+3+1 Concentrating Photovoltaic Panels  // K20-K 1+2+1

		// Retractable
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x3-orion-2_title     = SP-05R 1x3 Advanced Photovoltaic Panels   // K5-AR
		#LOC_NFSolar_nfs-panel-deploying-advanced-1x4-dragon-2_title    = SP-07R 1x4 Advanced Photovoltaic Panels   // K7-AR
		#LOC_NFSolar_nfs-panel-deploying-advanced-2x6x6-lab-1_title     = SP-40R 1+3+3 'Oar' Advanced Solar Array   // K40-AR

		// BLANKET
		#LOC_NFSolar_nfs-panel-deploying-blanket-orion-1_title      = UKEB-C004 Circular Blanket Photovoltaic Array         // OKEB-4R
		#LOC_NFSolar_nfs-panel-deploying-blanket-starship-1_title   = UKEB-C025 'Starship' Blanket Photovoltaic Array       // OKEB-25R
		#LOC_NFSolar_nfs-panel-deploying-blanket-bfs-1_title        = UKEB-C075 'Sirius' Blanket Photovoltaic Array         // OKEB-75R
		#LOC_NFSolar_nfs-panel-deploying-blanket-arm-1_title        = UKEB-C150 'Halo' Circular Blanket Photovoltaic Array  // OKEB-150R
		#LOC_NFSolar_nfs-panel-deploying-blanket-copernicus-1_title = UKEB-D15 'Copernicus' Blanket Photovoltaic Array      // OKEB-15
		#LOC_NFSolar_nfs-panel-deploying-blanket-nautilus-1_title   = UKEB-D45 'Nautilus' Blanket Photovoltaic Array        // OKEB-45
		#LOC_NFSolar_nfs-panel-deploying-blanket-dsg-1_title        = UKEB-F100 'Gateway' Blanket Photovoltaic Array        // OKEB-100
		#LOC_NFSolar_nfs-panel-deploying-blanket-dst-1_title        = UKEB-F250 'Ares' Blanket Photovoltaic Array           // OKEB-250
		#LOC_NFSolar_nfs-panel-deploying-blanket-drm-1_title        = UKEB-F500 'Titan' Blanket Photovoltaic Array          // OKEB-500



		#LOC_NFSolar_nfs-panel-deploying-blanket-arm-1_description =  Using a novel circular deployment method, a very large blanket solar array is packaged into a small footprint with enough structural support to survive multiple deployment and retraction cycles.
		#LOC_NFSolar_nfs-panel-deploying-blanket-dsg-1_description = A first foray into roll-up panel technologies repackages a standard blanket-style array into a compact package using a novel deployment mechansim. Cannot be retracted.
		#LOC_NFSolar_nfs-panel-deploying-blanket-drm-1_description = A radical new take on solar arrays is really, really big. This model simply dwarfs every other solar panel on the market. Due to its unique construction methods, the panel is relatively cheap and light, but can't match smaller panels in power density. Cannot be retracted.

		#LOC_NFSolar_nfs-panel-static-truss-2_description = As a follow-on to the well-regarded STAT series, the new Advanced Photovoltaic Trusses could allow Probodobodyne to regain the lead in static solar panel technology. Comes in truss-mounted and flat-mounted variants.
		#LOC_NFSolar_nfs-panel-static-truss-1_description = Two 1x2s, welded together? Madness that comes in truss-mounted and flat-mounted variants.

		#LOC_NFSolar_nfs-panel-deploying-curved-25-1_description = Strong and compact when undeployed, the solar array sure look cool and are quite strong. Perhaps not the best choice for maximum solar efficiency, though. This variant comes with an optional aerodynamic shroud.
		#LOC_NFSolar_nfs-panel-deploying-curved-375-1_description = The solar array expands into a massive 10m radial footprint, providing modest power from many angles at a modest price and mass ratio.


		//// Near Future Solar v0.8 legacy

		// Static Arrays
		#LOC_NFSolar_solarpanel-static-truss-1_title = JX-STAT 1x4 Photovoltaic Truss  // PX-STAT
		#LOC_NFSolar_solarpanel-static-truss-2_title = JX-STAT 1x2 Photovoltaic Truss  // PX-STAT

		// Deploying arrays
		#LOC_NFSolar_solarpanel-deploying-1x3-1_title = OX-05 1x3 Concentrating Photovoltaic Panels // K5K
		#LOC_NFSolar_solarpanel-deploying-1x4-1_title = OX-07 1x4 Concentrating Photovoltaic Panels // K7K
		#LOC_NFSolar_solarpanel-deploying-1x4-2_title = OX-12 1x4 High-Density Photovoltaic Panels
		#LOC_NFSolar_solarpanel-deploying-1x5-1_title = OX-14 1x5 Concentrating Photovoltaic Panels // T14
		#LOC_NFSolar_solarpanel-deploying-1x5-2_title = OX-22 1x5 Concentrating Photovoltaic Panels // T22
		#LOC_NFSolar_solarpanel-deploying-1x3-2_title = SP-05 1x3 Concentrating Photovoltaic Panels // K5R
		#LOC_NFSolar_solarpanel-deploying-1x4-3_title = SP-07 1x4 Concentrating Photovoltaic Panels // K7R
		#LOC_NFSolar_solarpanel-deploying-circular-1_title = SP-08 Circular Concentrating Photovoltaic Array // YF8
		#LOC_NFSolar_solarpanel-deploying-2x1-2_title = T30-SL Solo Solar Array
		#LOC_NFSolar_solarpanel-deploying-2x1-1_title = T55-XL Megalador Solar Array
		#LOC_NFSolar_solarpanel-deploying-2x3-1_title = T90-ML Trio Solar Array


		// Curved arrays
		#LOC_NFSolar_solarpanel-curved-25-1_title =             NIV-A Curved Solar Array (2.5m)   // NIV-30
		#LOC_NFSolar_solarpanel-curved-375-1_title =            NIV-B Curved Solar Array (3.75m)  // NIV-10
		#LOC_NFSolar_solarpanel-curved-deploying-25-1_title =   NOL-A Expanding Curved Solar Array (2.5m)
		#LOC_NFSolar_solarpanel-curved-deploying-375-1_title =  NOL-B Expanding Curved Solar Array (3.75m)

		// Blanket arrays
		#LOC_NFSolar_solarpanel-blanket-4_title = UKEB-075 Blanket Photovoltaic Array  // OKEB-75
		#LOC_NFSolar_solarpanel-blanket-2_title = UKEB-100 Blanket Photovoltaic Array
		#LOC_NFSolar_solarpanel-blanket-3_title = UKEB-125 Blanket Photovoltaic Array
		#LOC_NFSolar_solarpanel-blanket-1_title = UKEB-500 Blanket Photovoltaic Array

		// desc
		#LOC_NFSolar_solarpanel-static-truss-1_description =  Two JX-STAT 1x2s, welded together? Madness!
		#LOC_NFSolar_solarpanel-static-truss-2_description = As a follow-on to the well-regarded IX-STAT, the JX-STAT series could allow Probodobodyne to regain the lead in static solar panel technology.
		#LOC_NFSolar_solarpanel-deploying-1x3-1_description = As a follow up to the underwhelmingly popular OX07 1x4, the OX05 1x3 also includes concentrator lenses and sacrifices its ability to retract. The result is a panel that is quite light for its generation capabilities. Just don't sneeze on it.
		#LOC_NFSolar_solarpanel-deploying-1x3-2_description = The SP05 is a shrouded version of the OX05 panel that has the ability to retract into a tiny box.
		#LOC_NFSolar_solarpanel-deploying-1x5-2_description = A bendier but larger version of the OX14, the KTS engineers have created this largish panel set for those power-hungry governments and spacecraft out there. Panel cannot be retracted.
		#LOC_NFSolar_solarpanel-curved-25-1_description = Someday, we hope to be able to spray-paint an entire rocket stage with solar panels. For now, using glue and defunct IX-STATs, this is the best we can do.
		#LOC_NFSolar_solarpanel-curved-deploying-25-1_description = Strong and compact when undeployed, the NOL-series solar arrays sure look cool and are quite strong. Perhaps not the best choice for maximum solar efficiency, though.
		#LOC_NFSolar_solarpanel-curved-deploying-375-1_description = The NOL-B expands into a massive 10m footprint, providing modest power for a modest price and mass ratio.
		#LOC_NFSolar_solarpanel-blanket-1_description = UKEB offers a new take on solar arrays - really, really big. Their first entry into the market simply dwarfs every other solar panel on the market. Due to its unique construction methods, the panel is relatively cheap and light, but can't match smaller panels in power density. Cannot be retracted.
		#LOC_NFSolar_solarpanel-blanket-2_description = UKEB's smallest blanket panel retains the lightness and low cost of their larger offering, but packages it into a more reasonable size. Cannot be retracted.
		#LOC_NFSolar_solarpanel-blanket-3_description = Using a novel circular deployment method appropriated from Kerbal Techsystems, UKEB has packaged a reasonably large blanket solar array into a small footprint. Cannot be retracted.
		#LOC_NFSolar_solarpanel-blanket-4_description = The fan-shaped UKEB-075 array does not actual act as a fan, and wiggling it back and forth in space does not provide any cooling. However, it is the only blanket array that can be retracted successfully



		//=========================
		// Near Future Electrical
		//=========================

		// Tanks
		#LOC_NFElectrical_nuclearfuel-0625_title = UF-06 Nuclear Fuel Drum  // MF-0
		#LOC_NFElectrical_nuclearfuel-125_title  = UF-12 Nuclear Fuel Drum  // MF-1
		#LOC_NFElectrical_nuclearfuel-25_title   = UF-25 Nuclear Fuel Drum  // MF-2

		// Batteries
		#LOC_NFElectrical_battery-rad-125_title = Z-800 Rechargeable Battery       // B-800
		#LOC_NFElectrical_battery-0625_title    = Z-K03 Rechargeable Battery Bank  // B-3K
		#LOC_NFElectrical_battery-125_title     = Z-K06 Rechargeable Battery Bank  // B-6K
		#LOC_NFElectrical_battery-25_title      = Z-K12 Rechargeable Battery Bank  // B-12K
		#LOC_NFElectrical_battery-375_title     = Z-K10 Rechargeable Battery Bank  // B-10K

		// Capacitors

		#LOC_NFElectrical_capacitor-radial-0625_title = ZP-101 Capacitor    // CAP-101 Capacitor
		#LOC_NFElectrical_capacitor-radial-0625-2_title = ZP-106 Capacitor  // CAP-106 Capacitor
		#LOC_NFElectrical_capacitor-0625_title = ZP-1600 Capacitor Bank     // CAR-1.6K Capacitor Bank
		#LOC_NFElectrical_capacitor-125_title = ZP-8K Capacitor Bank        // CAR-8K Capacitor Bank
		#LOC_NFElectrical_capacitor-25_title = ZP-EXTRA Capacitor Bank      // CAR-EXTRA Capacitor Bank

		// Generator
		#LOC_NFElectrical_rtg-0625_title = U-NUK-AS Radioisotope Generator  // PB-AS-NUK

		// Reactors
		#LOC_NFElectrical_reactor-0625_title = UX-0 'KerboPower' Fission Generator // MX-0
		#LOC_NFElectrical_reactor-125_title = UX-1 'GARNET' Fission Reactor        // MX-1
		#LOC_NFElectrical_reactor-25_title = UX-2S 'Prometheus' Fission Reactor    // MX-2S
		#LOC_NFElectrical_reactor-25-2_title =  UX-2T 'Excalibur' Fission Reactor  // MX-2L
		#LOC_NFElectrical_reactor-375_title = UX-3S F.L.A.T. Fission Reactor
		#LOC_NFElectrical_reactor-375-2_title = UX-3T 'Hermes' Fission Reactor     // MX-3L

		// Utility
		#LOC_NFElectrical_nuclear-recycler-25_title =  Centrifugal Whirlijig Nuclear Reprocessor

		#LOC_NFElectrical_battery-125_description = The Z-K06 is generally more reliable than the Z-K03, because it uses the less accident-prone E batteries in its inline mount. Batt-Direct also advertises replacement capability for each battery, but recommends that this not be done by anyone outside of Batt-Direct. And certainly not in space.
		#LOC_NFElectrical_battery-0625_description = The biggest selling point is its reliance on 28 AAAA batteries, for redundancy. Note, unit may not operate with any dead batteries present. Do not attempt to remove batteries while running.
		#LOC_NFElectrical_capacitor-radial-0625_description =  It is a radially attachable discharge capacitor. Through slow to charge up, when triggered, it will rapidly deposit its stored charge into your Electric Charge banks.
		#LOC_NFElectrical_capacitor-radial-0625-2_description = It is a more powerful radial capacitor using three of those new units. They're slightly flattened due to being stacked under a few boxes of Mainsails.
		#LOC_NFElectrical_capacitor-125_description = By mounting six enhanced ZP-102s on a central mount, a decently sized inline capacitor bank can be created. Additionally, it can easily blow out all of the lights at the KSC!
		#LOC_NFElectrical_rtg-0625_description = Using a larger amount of Blutonium-238 than the U-NUK and a more efficient energy conversion system based on technology reverse engineered from a Post-Kerbin generator, engineers at Ionic Symphonic have perfected this advanced RTG for expensive but continuous power.  // PB-NUK
		#LOC_NFElectrical_reactor-125_description = The UX-1 is a compact fission reactor that produces up to 400 kW of electric power. Be sure to attach enough heat radiation capacity to run it!
		#LOC_NFElectrical_reactor-25_description = The UX-2S is a workhorse fission reactor that produces a shocking 2 MW of electric power. Exceptional nowhere, but a step on the road to greatness.
		#LOC_NFElectrical_reactor-25-2_description = The UX-2T is the second-largest fission reactor available through sheer footprint. Not only does it produce more power than its cousin the UX-2S, it does so at a higher efficiency and so requires less additional radiator mass.
		#LOC_NFElectrical_reactor-375_description = The success of the advanced generators in the UX-2T has allowed the manufacturers to refurbish old UX-2S cores and ship them again with an improved power generation section. The F.L.A.T. is the one of the most fuel efficient and reliable reactors ever built, and combines this with an extra generous loading of nuclear fuel to achieve unprecedented core lifetime.
	}
}
