// FarFutureTechnologies 1.2.0
// 2021-09-11

Localization
{
	en-us
	{
		// Fission Engines
		#LOC_FFT_fft-fission-zpinch-1_title                    = ZI1 X-20 'Verne' Pulsed Fission Engine                             // X-20 'Verne' Pulsed Fission Engine
		#LOC_FFT_fft-ffre-solid-1_title                        = ZI2 X-6 'Clarke' Fission Fragment Rocket Engine                    // X-6 'Clarke' Fission Fragment Rocket Engine
		#LOC_FFT_fft-ffre-plasma-1_title                       = ZI3 X-7 'Asimov' Afterburning Fission Fragment Rocket Engine       // X-7 'Asimov' Afterburning Fission Fragment Rocket Engine
		
		// Super exotic Engines
		#LOC_FFT_fft-nswr-1_title                              = ZI4 X-2 'Heinlein' Nuclear Salt Water Rocket Engine                // X-2 'Heinlein' Nuclear Salt Water Rocket Engine
		#LOC_FFT_fft-nswr-2_title                              = ZI5 X-42 'Niven' Nuclear Salt Water Rocket Engine                  // X-42 'Niven' Nuclear Salt Water Rocket Engine	
		
		// Fusion Engines
		#LOC_FFT_fft-fusion-magnetic-inertial-1_title          = ZU1 JP-10 'Impulse' Magneto-Inertial Fusion Engine                 // JP-10 'Impulse' Magneto-Inertial Fusion Engine
		#LOC_FFT_fft-fusion-magnetic-tokamak-1_title           = ZU2 JR-15 'Discovery' Spherical Tokamak Fusion Engine              // JR-15 'Discovery' Spherical Tokamak Fusion Engine
		#LOC_FFT_fft-fusion-magnetic-mirror-1_title            = ZU3 JR-45 'Fresnel' Mirror Cell Fusion Engine                      // JR-45 'Fresnel' Mirror Cell Fusion Engine
		#LOC_FFT_fft-fusion-axial-zpinch-1_title               = ZU4 JX-200 'Cascade' Axial Flow Z-Pinch Fusion Engine              // JX-200 'Cascade' Axial Flow Z-Pinch Fusion Engine
		#LOC_FFT_fft-fusion-inertial-laser-1_title             = ZU5 K-80 'Hammertong' Inertial Confinement Fusion Engine           //  K-80 'Hammertong' Inertial Confinement Fusion Engine
		#LOC_FFT_fft-fusion-magnetic-tokamak-aerospike-1_title = ZU6 JR-20A 'Ouroboros' Torroidal Tokamak Fusion Engine             // JR-20A 'Ouroboros' Torroidal Tokamak Fusion Engine
		
		// Antimatter Engines
		#LOC_FFT_fft-antimatter-microfission-1_title           = ZA1 A-134NG 'Casaba' Antimatter Catalyzed Microfission Engine      // A-134NG 'Casaba' Antimatter Catalyzed Microfission Engine
		#LOC_FFT_fft-antimatter-microfusion-1_title            = ZA2 A-7007 'Dirac' Antimatter Initiated Microfusion Engine         // A-7007 'Dirac' Antimatter Initiated Microfusion Engine
		#LOC_FFT_fft-antimatter-beam-1_title                   = ZA3 A-834M 'Frisbee' Antimatter Engine                             // A-834M 'Frisbee' Antimatter Engine

		// Lithium Tanks
		#LOC_FFT_fft-fueltank-lithium-radial-125-1_title       = LFR-092 Lithium Tank                                               // LFR-08
		#LOC_FFT_fft-fueltank-lithium-radial-0625-1_title      = LFR-880 Lithium Tank                                               // LFR-01
		#LOC_FFT_fft-fueltank-lithium-25-3_title               = LFT-25-09 Lithium Tank                                             // LFT-A10
		#LOC_FFT_fft-fueltank-lithium-25-2_title               = LFT-25-18 Lithium Tank                                             // LFT-A20
		#LOC_FFT_fft-fueltank-lithium-25-1_title               = LFT-25-35 Lithium Tank                                             // LFT-A40

		// Fusion Fuel Tanks
		#LOC_FFT_fft-fueltank-fusion-25-1_title                = ST-25-k01 Fusion Fuel Tank                                         // ST-412
		#LOC_FFT_fft-fueltank-fusion-25-2_title                = ST-25-k06 Fusion Fuel Tank                                         // ST-824
		#LOC_FFT_fft-fueltank-fusion-375-1_title               = ST-37-k09 Fusion Fuel Tank                                         // ST-4L3
		#LOC_FFT_fft-fueltank-fusion-375-2_title               = ST-37-k36 Fusion Fuel Tank                                         // ST-4L3R

		// Fission Fuel Tanks
		#LOC_FFT_fft-fueltank-fission-radial-3_title           = NTS-R-k02 Radial Fissonables Tank                                  // NTR-003
		#LOC_FFT_fft-fueltank-fission-radial-2_title           = NTS-R-k04 Radial Fissonables Tank                                  // NTR-002
		#LOC_FFT_fft-fueltank-fission-radial-1_title           = NTS-R-k08 Radial Fissonables Tank                                  // NTR-001
		#LOC_FFT_fft-fueltank-fission-25-3_title               = NTS-25-k08 Fissonables Tank                                        // NTS-003
		#LOC_FFT_fft-fueltank-fission-25-2_title               = NTS-25-k16 Fissonables Tank                                        // NTS-002
		#LOC_FFT_fft-fueltank-fission-25-1_title               = NTS-25-k32 Fissonables Tank                                        // NTS-001
		#LOC_FFT_fft-fueltank-fission-5-2_title                = NTS-50-k042 Fissonables Tank                                       // NTS-502
		#LOC_FFT_fft-fueltank-fission-5-1_title                = NTS-50-k084 Fissonables Tank                                       // NTS-501

		// Antimatter Tanks
		#LOC_FFT_fft-fueltank-antimatter-ring-75-1_title       = ZA-75-050 "R7NG" Antiproton Storage Ring                           // A-R7NG
		#LOC_FFT_fft-fueltank-antimatter-tank-5-1_title        = ZA-50-k096 "CY1-5" Antimatter Storage Container                    // A-CY1-5
		#LOC_FFT_fft-fueltank-antimatter-tank-25-1_title       = ZA-25-k096 "CY1-25XL" Antimatter Storage Container                 // A-CY1-25XL
		#LOC_FFT_fft-fueltank-antimatter-tank-25-2_title       = ZA-25-k048 "CY1-25" Antimatter Storage Container                   // A-CY1-25

		// Targets
		// #LOC_FFT_fft-fueltank-targets-5-1_title = PW x4 Nuclear Pellet Storage Container

		// Reactors
		// #LOC_FFT_fft-fusion-reactor-25-1_title  = FX-2 Fusion Reactor
		// #LOC_FFT_fft-fusion-reactor-375-1_title = FX-3 Fusion Reactor

		// Detectors
		// #LOC_FFT_fft-scanner-gas-1_title         = CHROMA Imaging Spectrometer
		// #LOC_FFT_fft-scanner-antimatter-1_title  = CRANE Gamma Ray Spectrometer

		// Harvesters
		// #LOC_FFT_fft-scoop-atmosphere-1_title    = PK-ATMO 'Hoover' Atmospheric Ramscoop
		// #LOC_FFT_fft-scoop-exosphere-1_title     = PK-EXO 'Bussard' Particle Scoop
		// #LOC_FFT_fft-scoop-regolith-1_title      = PK-DUST Regolith Processing System
		// #LOC_FFT_fft-scoop-regolith-2_title      = PK-DUST-S Regolith Processing System

		// Processors
		// #LOC_FFT_fft-nuclear-smelter-375-1_title = PK-1 'Vulcan' Nuclear Smelter
		// #LOC_FFT_fft-antimatter-factory-1_title  = PK-50 'Nova' Antimatter Facility
	}
}
