Localization
{ 
	en-us 
	{

		// UnKerballed Start

		//#LOC_UKS_liquidEngineLVT05_title = 52-T15 "Cogswell" Liquid Fuel Engine           // LV-T05 "Cogswell" Liquid Fuel Engine
		//#LOC_UKS_liquidEngineLVT10_title = 52-T30 "Spacely" Liquid Fuel Engine            // LV-T10 "Spacely" Liquid Fuel Engine 
		#LOC_UKS_solidBoosterRT1_title   = SRB-06-03 "Astro" Solid Fuel Booster (1.4m)      // RT-1 "Astro" Solid Fuel Booster     
	} 
}