@PART[wbiSampleArm]:NEEDS[WildBlueIndustries/001KerbalActuators]   {@title = Konstruction Arm     }  // Mk1 Station Arm
@PART[wbiSampleCrane]:NEEDS[WildBlueIndustries/001KerbalActuators] {@title = Konstruction Krane   }  // Konstruction Krane


Localization
{
  en-us
  {
    // Engines
    #LOC_NearFutureAero_liftfan-10-1_title  = J0-HVR75 Lift Fan "ONE" (Ultra-Heavy) // HVR-ONE Ultra-Heavy Lift Fan
    #LOC_NearFutureAero_liftfan-375-1_title = J0-HVR37 Lift Fan "TWO" (Heavy)       // HVR-TWO Heavy Lift Fan
    #LOC_NearFutureAero_liftfan-25-1_title  = J0-HVR25 Lift Fan "THREE"             // HVR-THREE Lift Fan

    #LOC_NearFutureAero_propfan-125-1_title   = J0-AP27 'Corkscrew' Propfan Engine   // AP27
    #LOC_NearFutureAero_turboprop-125-1_title = J0-AP4000 "Buzzsaw" Turboprop Engine // AP4000

    #LOC_NearFutureAero_multimodal-125-1_title = J-7B S.C.I.M.I.T.A.R. Engine       // AE-2B S.C.I.M.I.T.A.R. Engine
    #LOC_NearFutureAero_multimodal-25-1_title  = JV-AE1 B.R.O.A.D.S.W.O.R.D. Engine // AE-1
    #LOC_NearFutureAero_multimodal-25-2_title  = JV-AE2 C.U.T.L.A.S.S. Engine       // AE-2

    #LOC_NearFutureAero_turbofan-25-1_title = JV-90 'Dudley' Heavy Turbofan Engine  // J-90
    #LOC_NearFutureAero_turbofan-25-2_title = JV-593 'Arcadia' Turbofan Engine      // J-593
    #LOC_NearFutureAero_turbojet-25-1_title = JV-X4 'Valkyrie' Turbo Ramjet Engine  // JE-X4

    #LOC_NearFutureAero_atomic-jet-25-1_title       = JZ-N280 'Fireflash' Air-Breathing Nuclear Engine  // J-N160
    #LOC_NearFutureAero_atomic-multimode-25-1_title = JZ-N350 'Project Eeloo' Multimode Nuclear Engine  // J-N500

    #LOC_NearFutureAero_vtol-0625-1_title = J-VTOL L16 'Yellowjacket' Engine // JL-16
    #LOC_NearFutureAero_vtol-125-1_title  = J-VTOL L40 'Hornet' Engine       // JL-40


    // Intakes
    #LOC_NearFutureAero_intake-largeshock-1_title = IN-Q36 Advanced Shock Intake (2.5m)    // Advanced Shock Intake
    #LOC_NearFutureAero_intake-largeram-1_title = IN-N80 Advanced Ram Intake (2.5m)        // Advanced Ram Intake
    #LOC_NearFutureAero_intake-largecircular-1_title = IN-J36 High-Bypass Fan Intake (2.5m)
    #LOC_NearFutureAero_intake-radial-1_title = IN-G16 Radial Heavy Ram Intake          //Heavy Ram Intake
    #LOC_NearFutureAero_intake-radial-2_title = IN-G16 Radial Heavy Ram Intake Mount    //Heavy Ram Intake Mount

    #LOC_NearFutureAero_enginecooler-25-1_title =  IN-V15 Heavy Engine Precooler (2.5m)          // Heavy Engine Precooler
    #LOC_NearFutureAero_enginenacelle-25-1_title = IN-V30 Heavy Engine Nacelle Extended (2.5m)   // Heavy Extended Engine Nacelle
    #LOC_NearFutureAero_enginenacelle-25-2_title = IN-V15 Heavy Engine Nacelle (2.5m)            // Heavy Engine Nacelle

    #LOC_NearFutureAero_pod-1_title = IN-U50 Dual Engine Pod (1.25m)     //AV-1-2 Dual Engine Pod
    #LOC_NearFutureAero_pod-2_title = IN-U75 Triple Engine Pod (1.25m)   //AV-1-3 Triple Engine Pod
    #LOC_NearFutureAero_enginepod-large-1_title = IN-U80 Heavy Dual Engine Pod (2.5m) //AVX-20 Heavy Engine Pod

    // Tanks
    #LOC_NearFutureAero_fueltank-25-1_title = Mk-2S Aviation Fuel Tank-D (NF)
    #LOC_NearFutureAero_fueltank-25-2_title = Mk-2S Aviation Fuel Tank-C (NF)
    #LOC_NearFutureAero_fueltank-25-3_title = Mk-2S Aviation Fuel Tank-B (NF)
    #LOC_NearFutureAero_fueltank-25-4_title = Mk-2S Aviation Fuel Tank-A (NF)


    // RCS
    #LOC_NearFutureAero_rcsblister-1_title =  RXH-4x4-M Angled Aeronautic Heavy RCS Blister //ARV-100-8 Heavy RCS Blister

  }
}
