Localization
{
	en-us
	{
		#LOC_nesdOC_title_OCmain  = Mk1 AC-1 "Barnstormer"  Open Cockpit // DTE OC-1
		#LOC_nesdOC_title_OCGS    = Mk1 AC-1 Rear Gunner Seat
		#LOC_nesdOC_title_OChead  = Mk1 AC-1 Headrest
		#LOC_nesdOC_title_OCwindB = Mk1 AC-1 "Barnstormer" Windshield
		#LOC_nesdOC_title_OCwindS = Mk1 AC-1 "Flybuster" Windshield
		#LOC_nesdOC_title_OCdrone = Mk1 AC-1 Multirole Drone Core
		#LOC_nesdOC_title_OCaio   = WR-12 Mk1 AC-1 Support Module
	}
}



@PART[*]:HAS[#manufacturer[Duct*Tape*Engineering]]:NEEDS[OpenCockpit]
{
	@tags ^= :$: dte:
	&tags = dte // will apply if part has no existing tags
}
