Localization
{
	en-us
	{
		#autoLOC_KAX_600008 = Mk-S2 Cockpit "Horizon"

		#autoLOC_KAX_600010 = Mk-S2 Heavy Structural Fuselage
		#autoLOC_KAX_600012 = Mk-S2 Heavy Fuselage - Jet Fuel

		#autoLOC_KAX_600014 = WZ-Mk-S2 Heavy Tail Boom

		#autoLOC_KAX_600000 = J0 e50 Electric Propeller Engine

		#autoLOC_KAX_600004 = J0-KH1 "Kuey" Main Helicopter Rotor
		#autoLOC_KAX_600006 = J0-KH2 Tail Helicopter Rotor

		#autoLOC_KAX_600016 = J0-D52 Radial Engine
		#autoLOC_KAX_600018 = J0-D25 AeroSport Engine
		#autoLOC_KAX_600020 = J0-D68 Turboprop

		#autoLOC_KAX_6000024 = J0-A1 Vintage Propelator, model 1
		#autoLOC_KAX_6000022 = J0-A2 Vintage Propelator, model 2 (Sport)
		#autoLOC_KAX_6000026 = J0-A3 Vintage Propelator, model 3 (Super Sport)
		#autoLOC_KAX_6000028 = J0-A4 Vintage Propelator, model 4 (Heavy)
		#autoLOC_KAX_6000030 = J0-A5 Vintage Propelator, model 5 (Extra Heavy)

		#autoLOC_KAX_600002 = J-VTOL J13 Jump Jet Engine
	}
}




@PART[KAXmedTail]:NEEDS[KAX]            {@category = Aero                         }  // Structural
